@import "tailwindcss";

:root {
  --background: #1F1F1F;
  --foreground: #ffffff;
  --font-space-grotesk: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-sf-mono: "SF Mono", "SFMono-Regular", ui-monospace, Menlo, Consolas,
    "Liberation Mono", monospace;
  --matrix-green: #00ff41;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-sf-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sf-mono), "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

code,
pre,
kbd,
samp {
  font-family: var(--font-sf-mono);
}
